<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Yoga | Not found</title>
</head>
<body>
    <div style="width:500px; margin:0px auto; padding-top: 2rem;">
        <h1>A resource you are looking for was not found...</h1>
        <img style="width:500px; margin:0px auto;" src="/images/pepe-400.png" alt="">
        <p>Press return and look for another pages</p>
        <a th:href="@{/schedule}">RETURN</a>
        <p th:text="${timestamp}"></p>
        <p th:text="${status}"></p>
    </div>
</body>
</html>