<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/fragments :: head"></head>

<body>
<header th:replace="/fragments/fragments :: header"></header>

<main>
    <div class="empty">
    </div>
    <div id="second-div">
        <h1>Some lovely and nice text to clients with vary nice font</h1>
    </div>

    <div id="container">

        <a th:replace="/fragments/fragments :: backToSchedule"></a>


        <div class="events-wrapper">


            <div class="schedule-paid overflow-auto"
                 sec:authorize="hasRole('ROLE_ADMIN')">
                <h1 class="bg-success">Users who already pay for events</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">user Nr</th>
                        <th scope="col">name</th>
                        <th scope="col">surname</th>
                        <th scope="col">phone</th>
                        <th scope="col">email</th>

                        <th scope="col">event Nr</th>
                        <th scope="col">title</th>
                        <th scope="col">start date</th>
                        <th scope="col">price</th>

                        <th scope="col">payment date</th>
                        <th scope="col">method</th>
                        <th scope="col">paid</th>
                        <th class="w-5" scope="col">Cancel</th>
                    </tr>
                    </thead>
                    <tbody th:each="activity: ${activitiesPaid}">
                    <tr>
                        <th scope="row">
                            <a class="link-primary"
                               target="_blank"
                               th:href="@{/private/user/{name}(name=${activity.getUser().getUsername()})}"
                               th:text="${activity.getUser().getId()}">User id
                            </a>
                        </th>
                        <td>
                            <a class="link-primary"
                               target="_blank"
                               th:href="@{/private/user/{name}(name=${activity.getUser().getUsername()})}"
                               th:text="${activity.getUser().getName()}">name
                            </a>
                        </td>
                        <td>
                            <a class="link-primary"
                               target="_blank"
                               th:href="@{/private/user/{name}(name=${activity.getUser().getUsername()})}"
                               th:text="${activity.getUser().getSurname()}">surname
                            </a>
                        </td>
                        <td>
                            <a class="link-primary"
                               th:href="@{'tel: ' + ${activity.getUser().getPhone()}}"
                               th:text="${activity.getUser().getPhone()}">Phone
                            </a>
                        </td>
                        <td>
                            <a class="link-primary"
                               th:href="@{'mailto: ' + ${activity.getUser().getEmail()}}"
                               th:text="${activity.getUser().getEmail()}">Mail
                            </a>
                        </td>

                        <th>
                            <a target="_blank"
                               class="link-primary"
                               th:href="@{/public/schedule/event/{id}(id=${activity.getEvent().getId()})}"
                               th:text="${activity.getEvent().getId()}">Event id
                            </a>
                        </th>
                        <td>
                            <a target="_blank"
                               class="link-primary"
                               th:href="@{/public/schedule/event/{id}(id=${activity.getEvent().getId()})}"
                               th:text="${activity.getEvent().getTitle()}">Event title
                            </a>
                        </td>
                        <td th:text="${activity.getEvent().getStartDate()}">event starts</td>
                        <td th:text="${activity.getEvent().getFinalPrice()}">price</td>

                        <td th:if="${activity.getPayment() != null}"
                            th:text="${activity.getPayment().getPaymentDate()}">datetime payment
                        </td>

                        <td th:if="${activity.getPayment() != null}"
                            th:text="${activity.getPayment().getMethod()}">method
                        </td>

                        <td th:if="${activity.getPayment() != null}"
                            th:with="sum=${#numbers.formatDecimal(activity.getPayment().getSum(), 2, 2)}"
                            th:text="${sum}">paid
                        </td>

                        <td th:if="${activity.getPayment() == null}"
                            th:with="sum=0.00"
                            th:text="${sum}">paid
                        </td>

                        <td class="w-5">
                            <form sec:authorize="hasRole('ROLE_ADMIN')"
                                  th:action="@{/private/schedule/event/{eId}/remove-user/{uId}(eId=${activity.getEvent().getId()}, uId=${activity.getUser().getId()})}"
                                  method="post">
                                <button class="btn btn-danger btn-md w-100"
                                        id="remove-user-from-paid-event"
                                        type="submit">Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="schedule overflow-auto mt-5"
                 sec:authorize="hasRole('ROLE_ADMIN')">
                <h1 class="bg-warning">Users who wait for confirmation</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">user Nr</th>
                        <th scope="col">name</th>
                        <th scope="col">surname</th>
                        <th scope="col">phone</th>
                        <th scope="col">email</th>

                        <th scope="col">event Nr</th>
                        <th scope="col">start date</th>
                        <th scope="col">price</th>
                        <th scope="col">paid</th>
                        <th scope="col">payment date</th>
                        <th scope="col">need to pay</th>
                        <th scope="col">Confirm</th>
                        <th class="w-5" scope="col">Cancel</th>
                    </tr>
                    </thead>
                    <tbody th:each="activity: ${activitiesUnpaid}">
                    <tr>
                        <th scope="row">
                            <a class="link-primary"
                               th:href="@{/private/user/{name}(name=${activity.getUser().getUsername()})}"
                               th:text="${activity.getUser().getId()}">Num
                            </a>
                        </th>
                        <td>
                            <a class="link-primary"
                               th:href="@{/private/user/{name}(name=${activity.getUser().getUsername()})}"
                               th:text="${activity.getUser().getName()}">name
                            </a>
                        </td>
                        <td>
                            <a class="link-primary"
                               th:href="@{/private/user/{name}(name=${activity.getUser().getUsername()})}"
                               th:text="${activity.getUser().getSurname()}">surname
                            </a>
                        </td>
                        <td>
                            <a class="link-primary"
                               th:href="@{'tel: ' + ${activity.getUser().getPhone()}}"
                               th:text="${activity.getUser().getPhone()}">Phone
                            </a>
                        </td>
                        <td>
                            <a class="link-primary"
                               th:href="@{'mailto: ' + ${activity.getUser().getEmail()}}"
                               th:text="${activity.getUser().getEmail()}">Mail
                            </a>
                        </td>
                        <th>
                            <a target="_blank"
                               class="link-primary"
                               th:href="@{/public/schedule/event/{id}(id=${activity.getEvent().getId()})}"
                               th:text="${activity.getEvent().getId()}">Event
                            </a>
                        </th>
                        <td th:text="${activity.getEvent().getStartDate()}">date</td>
                        <td th:text="${activity.getEvent().getFinalPrice()}">price</td>

                        <td th:if="${activity.getPayment() != null}"
                            th:with="sum=${#numbers.formatDecimal(activity.getPayment().getSum(), 2, 2)}"
                            th:text="${sum}">paid
                        </td>

                        <td th:if="${activity.getPayment() == null}"
                            th:with="sum=0.00"
                            th:text="${sum}">paid
                        </td>

                        <td th:if="${activity.getPayment() != null}"
                            th:text="${activity.getPayment().getPaymentDate()}">datetime payment
                        </td>
                        <td th:if="${activity.getPayment() == null}">No payment
                        </td>

                        <td th:if="${activity.getPayment() != null}"
                            th:text="${#numbers.formatDecimal(activity.getEvent().getFinalPrice() - activity.getPayment().getSum(), 2, 2)}">
                            need to pay
                        </td>
                        <td th:if="${activity.getPayment() == null}"
                            th:text="${#numbers.formatDecimal(activity.getEvent().getFinalPrice(), 2, 2)}">
                            need to pay
                        </td>
                        <td>
                            <a class="btn btn-success btn-md"
                               th:if="${activity.getPayment() != null}"
                               th:href="@{/private/payment/confirm/event/{eId}/user/{uId}/{ntp}(eId=${activity.getEvent().getId()}, uId=${activity.getUser().getId()}, ntp=${#numbers.formatDecimal(activity.getEvent().getFinalPrice() - activity.getPayment().getSum(), 2, 2, 'POINT')})}">
                                confirm
                            </a>
                            <a class="btn btn-success btn-md"
                               th:if="${activity.getPayment() == null}"
                               th:href="@{/private/payment/confirm/event/{eId}/user/{uId}/{ntp}(eId=${activity.getEvent().getId()}, uId=${activity.getUser().getId()}, ntp=${#numbers.formatDecimal(activity.getEvent().getFinalPrice(), 2, 2, 'POINT')})}">
                                confirm
                            </a>
                        </td>
                        <td class="w-5">
                            <form sec:authorize="hasRole('ROLE_ADMIN')"
                                  th:action="@{/private/schedule/event/{eId}/remove-user/{uId}(eId=${activity.getEvent().getId()}, uId=${activity.getUser().getId()})}"
                                  method="post">
                                <button class="btn btn-danger btn-md w-100"
                                        id="remove-user-from-unpaid-event"
                                        type="submit">Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>

<footer th:replace="/fragments/fragments :: footer" class="text-center text-white mt-1"
        style="background-color: #f1f1f1;"></footer>

<button th:replace="/fragments/fragments :: button-to-top"></button>

<div th:replace="/fragments/fragments :: links"></div>

</body>
</html>