<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/fragments :: head"></head>

<body>
<header th:replace="/fragments/fragments :: header"></header>

<main>
    <div class="empty">
    </div>
    <div id="second-div">
        <h1>Some lovely and nice text to clients with vary nice font</h1>
    </div>

    <div id="container">
        <h1>Users who wait confirmation:</h1>

        <a class="btn btn-outline-secondary"
           th:href="@{/public/schedule}">Back to main schedule</a>

        <div class="events-wrapper">

            <div class="schedule overflow-auto"
                 sec:authorize="hasRole('ROLE_ADMIN')">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">name</th>
                        <th scope="col">surname</th>
                        <th scope="col">phone</th>
                        <th scope="col">email</th>

                        <th scope="col">event</th>
                        <th scope="col">date</th>
                        <th scope="col">price</th>
                        <th scope="col">paid</th>
                        <th scope="col">need to pay</th>
                        <th scope="col">Confirm</th>
                        <th scope="col">Cancel</th>
                    </tr>
                    </thead>
                    <tbody th:each="activity: ${activities}">
                    <tr>
                        <th scope="row">
                            <a class="link-primary"
                               th:href="@{/private/user/{name}(name=${activity.getUser().getUsername()})}"
                               th:text="${activity.getUser().getId()}">Num
                            </a>
                        </th>
                        <td>
                            <a class="link-primary"
                               th:href="@{/private/user/{name}(name=${activity.getUser().getUsername()})}"
                               th:text="${activity.getUser().getName()}">name
                            </a>
                        </td>
                        <td>
                            <a class="link-primary"
                               th:href="@{/private/user/{name}(name=${activity.getUser().getUsername()})}"
                               th:text="${activity.getUser().getSurname()}">surname
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'tel: ' + ${activity.getUser().getPhone()}}"
                               th:text="${activity.getUser().getPhone()}">Phone
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'mailto: ' + ${activity.getUser().getEmail()}}"
                               th:text="${activity.getUser().getEmail()}">Mail
                            </a>
                        </td>
                        <th>
                            <a target="_blank"
                               class="link-primary"
                               th:href="@{/public/schedule/event/{id}(id=${activity.getEvent().getId()})}"
                               th:text="${activity.getEvent().getId()}">Event
                            </a>
                        </th>
                        <td th:text="${activity.getEvent().getStartDate()}">date</td>
                        <td th:text="${activity.getEvent().getFinalPrice()}">price</td>

                        <td th:if="${activity.getPayment() != null}"
                            th:with="sum=${#numbers.formatDecimal(activity.getPayment().getSum(), 2, 2)}"
                            th:text="${sum}">paid</td>

                        <td th:if="${activity.getPayment() == null}"
                            th:with="sum=0.00"
                            th:text="${sum}">paid</td>

                        <td th:if="${activity.getPayment() != null}"
                            th:text="${#numbers.formatDecimal(activity.getEvent().getFinalPrice() - activity.getPayment().getSum(), 2, 2)}">
                            need to pay
                        </td>
                        <td th:if="${activity.getPayment() == null}"
                            th:text="${#numbers.formatDecimal(activity.getEvent().getFinalPrice(), 2, 2)}">
                            need to pay
                        </td>
                        <td>
                            Confirm
                            <a th:href="@{/private/schedule/payment/new/{id}(id=${activity.getEvent().getId()})}"></a>
                        </td>
                        <td>
                            <form sec:authorize="hasRole('ROLE_ADMIN')"
                                  th:action="@{/private/schedule/event/{eId}/remove-user/{uId}(eId=${activity.getEvent().getId()}, uId=${activity.getUser().getId()})}"
                                  method="post">
                                <button class="btn btn-danger btn-lg w-100"
                                        id="remove-user-from-event"
                                        type="submit">Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>

<footer th:replace="/fragments/fragments :: footer" class="text-center text-white mt-1"
        style="background-color: #f1f1f1;"></footer>

<button th:replace="/fragments/fragments :: button-to-top"></button>

<div th:replace="/fragments/fragments :: links"></div>

</body>
</html>