<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/fragments :: head"></head>

<body>
<header th:replace="/fragments/fragments :: header"></header>

<main>
    <div class="empty">
    </div>
    <div id="second-div">
        <h1>Temporary empty page, please try another pages</h1>
    </div>

    <div id="container">
        <h1 th:text="${content}"></h1>
        <a th:replace="/fragments/fragments :: backToSchedule"></a>
        <p>daug kontentu ar laukeliu</p>
    </div>
</main>

<footer th:replace="/fragments/fragments :: footer" class="text-center text-white mt-1" style="background-color: #f1f1f1;"></footer>

<button th:replace="/fragments/fragments :: button-to-top"></button>

<div th:replace="/fragments/fragments :: links"></div>

</body>
</html>