<!DOCTYPE html>
<html lang="lt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/fragments :: head"></head>

<body>
<header th:replace="/fragments/fragments :: header"></header>

<main>
    <div class="empty">
    </div>
    <div id="second-div">
        <h1 th:text="#{eventLovelyTextKey}">Some lovely and nice text to clients with vary nice font</h1>
    </div>

    <div id="container">
        <h1 th:text="${event.getTitle()}">Placeholder Placeholder</h1>
        <a class="back-button"
           th:href="@{http://localhost:8080/public/schedule}"
           th:text="#{backToScheduleKey}">Back to schedule</a>
        <div class="event-wrapper">
            <div class="event-img-wrapper">
                <img src="https://picsum.photos/400/300?random=1" alt="No img">
            </div>
            <h2>
                <span th:text="#{eventWelcomeKey}">Welcome to</span>
                <span th:if="${(param.lang != null) and (param.lang[0] == 'EN')}"
                      th:inline="text">[[${event.getUniqueOrRegular()}]] [[${event.getStringType}]]</span>
                <span th:if="${(param.lang != null) and (param.lang[0] == 'LT')}"
                      th:inline="text">[[${event.getUniqueOrRegularLt()}]] [[${event.getStringType}]]</span>
            </h2>
            <h2 th:text="${event.getTitle()}">Title</h2>

            <div class="event-table-container">
                <div class="event-table-line">
                    <div class="event-table-cell head-cell"
                         th:text="#{eventWhenKey}">When:
                    </div>
                    <div class="event-table-cell content-cell" th:text="${event.getStartDate()}">YYYY-MM-DD</div>
                    <div class="event-table-cell head-cell"
                         th:text="#{eventStartAtKey}">Beginning at:
                    </div>
                    <div class="event-table-cell content-cell" th:text="${event.getStartTimeMin()}">HH:mm</div>
                    <div class="event-table-cell head-cell"
                         th:text="#{eventDurationKey}">Duration:
                    </div>
                    <div class="event-table-cell content-cell" th:text="${event.getDurationHourMinute()}">Nh : nnm</div>
                    <div class="event-table-cell head-cell"
                         th:text="#{eventPriceKey}">Price, EUR:
                    </div>
                    <div class="event-table-cell content-cell" th:text="${event.getCommonPrice()}">xx.99</div>
                    <div class="event-table-cell head-cell"
                         th:text="#{eventDaysKey}">Days:
                    </div>
                    <div class="event-table-cell content-cell" th:text="${event.getActiveDaysOfWeek()}">xx</div>
                    <div class="event-table-cell head-cell"
                         th:text="#{eventPlacesKey}">Place left:
                    </div>
                    <div class="event-table-cell content-cell" th:text="${event.getVacanciesNow()}">xx</div>
                </div>
            </div>

            <h3 th:text="#{eventWhereWaitKey}">Where we wait on you?</h3>
            <div class="where-when">
                <span th:text="#{eventCityKey}">City:</span>
                <span th:inline="text" class="event-city-name">[[${event.getCity()}]]</span>
            </div>
            <div class="where-when" th:inline="text">
                <a th:href="@{${event.getUrlGoogleMaps()}} " target="_blank">
                    <span th:text="#{eventAddressKey}">Address:</span>
                    <span th:inline="text" class="event-address-name">[[${event.getAddress()}]]</span>
                </a>
            </div>

            <h3 th:text="#{eventWhenWaitKey}">When we wait on you?</h3>
            <div class="event-days-week where-when">
                <span th:if="${(param.lang != null) and (param.lang[0] == 'EN')}" th:inline="text">
                    [[${event.getEveryOrOnly()}]]</span>
                <span th:if="${(param.lang != null) and (param.lang[0] == 'LT')}" th:inline="text">
                    [[${event.getEveryOrOnlyLt()}]]</span>

                <ul th:if="${(param.lang != null) and (param.lang[0] == 'EN')}"
                    th:each="day: ${event.getActiveDaysOfWeek()}">
                    <li th:text="${day}"></li>
                </ul>
                <ul th:if="${(param.lang != null) and (param.lang[0] == 'LT')}"
                    th:each="day: ${event.getActiveDaysOfWeek()}">
                    <li th:text="${day.getDaysInLithuanian()}"></li>
                </ul>
            </div>

            <h3 th:text="#{eventWhatWeDoKey}">Maybe you want to know what we will do during events</h3>
            <div class="about-event" th:text="${event.getTextAbout()}">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Blanditiis consectetur quisquam itaque molestiae error at enim quod, quos,
                mollitia nostrum facilis iste maiores inventore?
                Ipsum porro praesentium obcaecati labore nostrum.
            </div>
            <div class="event-to-contact">
                <span th:text="#{eventForMoreInfoKey}">For more information you can</span>
                <a target="_blank"
                   th:href="@{http://localhost:8080/contacts}"
                   th:text="#{eventContactMeKey}">contact me</a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="/fragments/fragments :: footer" class="text-center text-white mt-1"
        style="background-color: #f1f1f1;"></footer>

<button th:replace="/fragments/fragments :: button-to-top"></button>

<div th:replace="/fragments/fragments :: links"></div>

<link rel="stylesheet" href="/css/event-style.css">

</body>
</html>