<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/fragments :: head"></head>

<body>
<header th:replace="/fragments/fragments :: header"></header>

<main>
    <div class="empty">
    </div>
    <div id="second-div">
        <h1>Some lovely and nice text to clients with vary nice font</h1>
    </div>

    <div id="container">
        <h1 th:text="${event.getTitle()}">Placeholder Placeholder</h1>
        <a class="back-button" th:href="@{http://localhost:8080/schedule}">⇇ Back to schedule</a>
        <div class="event-wrapper">
            <div class="event-img-wrapper">
                <img src="https://picsum.photos/400/300?random=1" alt="No img">
            </div>
            <h2 th:inline="text">Proud to represent [[${event.getUniqueOrRegular()}]] [[${event.getStringType}]]</h2>
            <h2 th:text="${event.getTitle()}">Placeholder Placeholder</h2>

            <div class="event-table-container">
                <div class="event-table-line">
                    <div class="event-table-cell head-cell">When:</div>
                    <div class="event-table-cell content-cell" th:text="${event.getStartDate()}">YYYY-MM-DD</div>
                    <div class="event-table-cell head-cell">Beginning at:</div>
                    <div class="event-table-cell content-cell" th:text="${event.getStartTimeMin()}">HH:mm</div>
                    <div class="event-table-cell head-cell">Duration:</div>
                    <div class="event-table-cell content-cell" th:text="${event.getDurationHourMinute()}">Nh : nnm</div>
                    <div class="event-table-cell head-cell">Price, EUR:</div>
                    <div class="event-table-cell content-cell" th:text="${event.getCommonPrice()}">xx.99</div>
                    <div class="event-table-cell head-cell">Days:</div>
                    <div class="event-table-cell content-cell" th:text="${event.getActiveDaysOfWeek()}">xx</div>
                    <div class="event-table-cell head-cell">Place left:</div>
                    <div class="event-table-cell content-cell" th:text="${event.getVacanciesNow()}">xx</div>
                </div>
            </div>

            <h3>Where we wait on you?</h3>
            <div class="where-when" th:inline="text"> City: <span class="event-city-name">[[${event.getCity()}]]</span></div>
            <div class="where-when" th:inline="text">
                <a th:href="@{${event.getUrlGoogleMaps()}} " target="_blank"
                   th:inline="text">
                    Address: <span class="event-address-name">[[${event.getAddress()}]]</span>
                </a>
            </div>

            <h3>When we wait on you?</h3>
            <div  class="event-days-week where-when" th:inline="text">
                [[${event.getEveryOrOnly()}]]
                <ul th:each="day: ${event.getActiveDaysOfWeek()}">
                    <li th:text="${day}"></li>

                </ul>
            </div>

            <h3 th:inline="text">Maybe you want to know what we will do during [[${event.getStringType}]]</h3>
            <div class="about-event" th:text="${event.getTextAbout()}">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Blanditiis consectetur quisquam itaque molestiae error at enim quod, quos, 
                mollitia nostrum facilis iste maiores inventore? 
                Ipsum porro praesentium obcaecati labore nostrum.
            </div>
            <div class="event-to-contact">For more information you can
                <a target="_blank" th:href="@{http://localhost:8080/contacts}">contact me</a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="/fragments/fragments :: footer" class="text-center text-white mt-1" style="background-color: #f1f1f1;"></footer>

<button th:replace="/fragments/fragments :: button-to-top"></button>

<div th:replace="/fragments/fragments :: links"></div>

<link rel="stylesheet" href="/css/event-style.css">

</body>
</html>