<!DOCTYPE html>
<html lang="lt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/fragments :: head"></head>

<body>
<header th:replace="/fragments/fragments :: header"></header>

<main>
    <div class="empty">
    </div>
    <div id="second-div">
        <h1 th:text="#{eventLovelyTextKey}">Some lovely and nice text to clients with vary nice font</h1>
    </div>

    <div id="container">
        <h1 th:text="${event.getTitle()}">Placeholder Placeholder</h1>

        <a th:replace="/fragments/fragments :: backToSchedule"></a>

        <div class="event-wrapper">

            <div class="event-img-wrapper">
                <img src="https://picsum.photos/320/180?random=1" alt="No img">
            </div>


            <h2>
                <span th:text="#{eventWelcomeKey} + #{${event.getUniqueOrRegular()}}">Welcome to</span>
                <span th:inline="text">[[#{${event.getType().getKeyOfType()}}]]</span>
            </h2>

            <h2 th:text="${event.getTitle()}">Title</h2>

            <div id="new-event-wrapper">

                <form sec:authorize="hasRole('ROLE_USER')"
                      th:action="@{/private/schedule/event/{id}/add-user (id=${event.getId()})}"
                      method="post">
                    <button
                            id="ad-user-to-event"
                            class="btn btn-outline-success btn-md w-100"
                            type="submit">Want to participate
                    </button>
                </form>

                <form sec:authorize="hasRole('ROLE_USER')"
                      th:action="@{/private/schedule/event/{id}/remove-user (id=${event.getId()})}"
                      method="post">
                    <button
                            id="remove-user-from-event"
                            class="btn btn-outline-danger btn-md w-100"
                            type="submit">Will not participate
                    </button>
                </form>

            </div>

            <div class="event-table-container">

                <div class="event-table-line">

                    <div class="event-table-cell head-cell"
                         th:text="#{eventThemeKey}">
                        Theme:
                    </div>
                    <div class="event-table-cell content-cell"
                         th:text="#{${event.getTheme().getKeyOfTheme()}}">
                    </div>

                    <div class=" event-table-cell head-cell"
                         th:text="#{eventWhenKey}">
                        When:
                    </div>
                    <div class="event-table-cell content-cell"
                         th:text="${event.getStartDate()}">
                        YYYY-MM-DD
                    </div>

                    <div class="event-table-cell head-cell"
                         th:text="#{eventStartAtKey}">
                        Beginning at:
                    </div>
                    <div class="event-table-cell content-cell"
                         th:text="${event.getStartTime()}">
                        HH:mm
                    </div>

                    <div class="event-table-cell head-cell"
                         th:text="#{eventDurationKey}">
                        Duration:
                    </div>
                    <div class="event-table-cell content-cell"
                         th:text="${event.getDurationHoursMinutes()}">
                        0h : 00m
                    </div>

                    <div class="event-table-cell head-cell"
                         th:text="#{eventPriceKey}">
                        Price, EUR:
                    </div>
                    <div class="event-table-cell content-cell"
                         th:text="${event.getCommonPrice()}">
                        xx.99
                    </div>

                    <div class="event-table-cell head-cell"
                         th:text="#{eventPlacesKey}">
                        Place left:
                    </div>
                    <div class="event-table-cell content-cell"
                         th:text="${event.getVacanciesNow()}">
                        xx
                    </div>

                </div>

            </div>

            <h3 th:text="#{eventWhereWaitKey}">Where we wait on you?</h3>

            <div class="where-when">
                <span th:text="#{eventCityKey}">City:</span>
                <span th:inline="text"
                      class="event-city-name">
                    [[${event.getCity()}]]
                </span>
            </div>

            <div class="where-when"
                 th:inline="text">
                <a target="_blank"
                   th:href="@{${event.getUrlGoogleMaps()}}">
                    <span th:text="#{eventAddressKey}">Address:</span>
                    <span class="event-address-name"
                          th:inline="text">
                        [[${event.getAddress()}]]
                    </span>
                </a>
            </div>

            <h3 th:text="#{eventWhenWaitKey}">When we wait on you?</h3>

            <div class="event-days-week where-when">
                <span th:text="#{${event.getEveryOrOnly()}}">every</span>

                <ul th:each="day: ${event.getWeekDays()}">
                    <li th:text="#{${day.getKeyOfDay()}}"></li>
                </ul>
            </div>

            <h3 th:text="#{eventWhatWeDoKey}">Maybe you want to know what we will do during events</h3>

            <div class="about-event"
                 th:text="${event.getTextAbout()}">
                Lorem ipsum, dolor sit amet
            </div>

            <div class="event-to-contact">
                <span th:text="#{eventForMoreInfoKey}">For more information you can</span>
                <a target="_blank"
                   th:href="@{http://localhost:8080/contacts}"
                   th:text="#{eventContactMeKey}">contact me</a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="/fragments/fragments :: footer" class="text-center text-white mt-1"
        style="background-color: #f1f1f1;"></footer>

<button th:replace="/fragments/fragments :: button-to-top"></button>

<div th:replace="/fragments/fragments :: links"></div>

<link rel="stylesheet" href="/css/event-style.css">

</body>
</html>