<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/fragments :: head"></head>

<body>
<header th:replace="/fragments/fragments :: header"></header>
<main>
    <div class="empty">
    </div>
    <div id="second-div">
        <h1 th:text="#{someLovelyKey}">Some lovely and nice text to clients with vary nice font</h1>
    </div>

    <div id="container">
        <h1>Refill user balance</h1>
        <a th:replace="/fragments/fragments :: backToSchedule"></a>

        <div id="new-event-wrapper">
            <form method="post"
                  id="event-create-form"
                  sec:authorize="hasRole('ROLE_ADMIN')"
                  th:action="@{/private/payment/user/{id}/add-credits(id=${user.getId()})}"
                  th:object="${payment}"
                  class="show-form">

                <div class="form-elem">
                    <label for="type-of-event" th:text="#{refPaymentMethodKey}">
                        Payment method:
                    </label>
                    <select id="type-of-event"
                            name="paymentMethod"
                            th:field="*{method}">
                        <option th:each="pMethod : ${T(lt.ivmov.yogaWeb.enums.PaymentMethod).values()}"
                                th:value="${pMethod}" th:text="${pMethod}"></option>
                    </select>
                </div>

                <div class="form-elem">
                    <label for="income" th:text="#{conSumKey}">Sum:</label>
                    <input id="income"
                           step="0.01"
                           type="number"
                           min="0.00"
                           max="1000.00"
                           th:field="*{sum}">

                </div>
                <div class="w-100">
                    <p>
                        <span th:text="#{refillKey}">Refill</span>
                        <a class="link-primary"
                           target="_blank"
                           th:href="@{/private/user/{name}(name=${user.getUsername()})}"
                           th:text="${user.getUsername()}">username
                        </a>
                        <span th:text="#{credBalanKey}">credits balance.</span>

                    </p>
                </div>

                <button class="btn btn-success btn-lg"
                        id="create-event-button"
                        title="create"
                        type="submit"
                        th:text="#{confirmPaymentKey}">
                    Confirm payment
                </button>

            </form>

        </div>
    </div>
</main>

<footer th:replace="/fragments/fragments :: footer" class="text-center text-white mt-1"
        style="background-color: #f1f1f1;"></footer>

<button th:replace="/fragments/fragments :: button-to-top"></button>

<div th:replace="/fragments/fragments :: links"></div>

<link rel="stylesheet" href="/css/new-event-style.css">

<script src="/js/new-event.js"></script>


</body>
</html>