<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/fragments :: head"></head>

<body>
<header th:replace="/fragments/fragments :: header"></header>

<main>
    <div class="empty">
    </div>
    <div id="second-div">
        <h1 th:text="#{loginLovelyTextKey}">Some lovely and nice text to clients with vary nice font</h1>
    </div>

    <div id="container">
        <!-- bootstrap registration form -->
        <section>
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="card text-black border-0" style="background-color:transparent">
                            <div class="card-body p-md-1">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                        <p id="change-log-in-text"
                                           class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4 change"
                                           th:text="#{loginCanDoKey}">
                                            Here you can log in or sign in like new user!</p>

                                        <form id="log-in-form" class="mx-1 mx-md-4" th:action="@{/login}" method="post">

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="email" required="true" id="email" name="username"
                                                           class="form-control"/>
                                                    <label class="form-label"
                                                           for="email"
                                                           th:text="#{loginEmailKey}">Your Email</label>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" required="true" name="password"
                                                           id="password-first" class="form-control"/>
                                                    <label class="form-label"
                                                           for="password-first"
                                                           th:text="#{loginPasswordKey}">Password</label>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-center mb-3 mb-lg-4 button-to-log-wrapp">
                                                <button id="button-to-log" type="submit"
                                                        class="btn btn-primary btn-lg w-100"
                                                        th:text="#{loginLoginKey}">
                                                    Log in
                                                </button>
                                            </div>

                                            <div class="d-flex justify-content-center mb-3 mb-lg-4 button-to-sign-wrapp">
                                                <label for="button-to-sign"
                                                       style="font-size: small; width: 100%;"
                                                       th:text="#{loginNoAcountKey}">
                                                    Didn't have acount? Registration only 1 min!</label>
                                                <a id="button-to-sign"
                                                   class="btn btn-primary btn-lg w-100"
                                                   th:href="@{/registration/new-user}"
                                                   th:text="#{loginNewUserKey}">New user?</a>
                                            </div>


                                        </form>

                                    </div>
                                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                        <img src="https://picsum.photos/300/300?random=1"
                                             class="img-fluid" alt="Sample image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<footer th:replace="/fragments/fragments :: footer" class="text-center text-white mt-1"
        style="background-color: #f1f1f1;"></footer>

<button th:replace="/fragments/fragments :: button-to-top"></button>

<div th:replace="/fragments/fragments :: links"></div>

<script src="/js/log-in-script.js"></script>

</body>
</html>