<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/fragments :: head"></head>

<body>
<header th:replace="/fragments/fragments :: header"></header>

<main>
    <div class="empty">
    </div>
    <div id="second-div">
        <h1>Some lovely and nice text to clients with vary nice font</h1>
    </div>

    <div id="container">
        <h1>Schedule of the nearest events and events</h1>

        <a style="justify-self:flex-start;" class="back-button" th:href="@{/public/schedule}">Back to main schedule</a>

        <div id="new-event-wrapper">
            <button sec:authorize="hasRole('ROLE_ADMIN')"
                    id="open-event-create-form"
                    onclick="location.href='/private/schedule/event/new'"
                    type="button">Create new event
            </button>
        </div>

        <div class="events-wrapper">
            <!--            paginnation on top of table-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{?(page=${currentPage - 1})}"
                           th:if="${currentPage > 0}"
                           th:text="Previous">
                        </a>
                    </li>
                    <li class="page-item"
                        th:each="page: ${#numbers.sequence(0, maxPages - 1)}">
                        <a class="page-link"
                           th:href="@{?(page=${page})}"
                           th:text="${page + 1}">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{?(page=${currentPage + 1})}"
                           th:if="${currentPage + 1 < maxPages}"
                           th:text="Next">
                        </a>
                    </li>
                </ul>
            </nav>

            <!--   TODO: need to refactor to calendar with days of week and time.-->

            <div class="schedule">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">title</th>
                        <th scope="col">theme</th>
                        <th scope="col">city</th>
                        <th scope="col">address</th>
                        <th scope="col">start date</th>
                        <th scope="col">end date</th>
                        <th scope="col">time start</th>
                        <th scope="col">duration hours</th>
                        <th scope="col">price</th>
                        <th scope="col">places</th>
                    </tr>
                    </thead>
                    <tbody th:each="ev: ${events}">
                    <tr>
                        <th scope="row">
                            <a th:href="@{/public/schedule/event/{id}(id=${ev.getId()})}"
                               sec:authorize="!isAuthenticated()"
                               th:text="${ev.getId()}">Num
                            </a>
                            <a sec:authorize="hasRole('ROLE_USER')"
                               th:href="@{/private/schedule/event/{id}(id=${ev.getId()})}"
                               th:text="${ev.getId()}">Num
                            </a>
                        </th>
                        <td>
                            <a th:href="@{/public/schedule/event/{id}(id=${ev.getId()})}"
                               th:text="${ev.getTitle()}">title
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/public/schedule/{theme}(theme=${ev.getTheme()})}"
                               th:text="${ev.getTheme()}">theme
                            </a>
                        </td>
                        <td th:text="${ev.getCity()}">city</td>
                        <td>
                            <a th:href="@{${ev.getUrlGoogleMaps()}} " target="_blank"
                               th:text="${ev.getAddress()}">some url
                            </a>
                        </td>
                        <td th:text="${ev.getStartDate()}">start date</td>
                        <td th:text="${ev.getEndDate()}">end date</td>
                        <td th:text="${ev.getStartTime()}">start time</td>
                        <td th:text="${ev.getDurationMinutes()}">duration</td>
                        <td th:text="${ev.getCommonPrice()}">price</td>
                        <td th:text="${ev.getVacanciesNow()}">places</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--            pagination on bottom of table -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{?(page=${currentPage - 1})}"
                           th:if="${currentPage > 0}"
                           th:text="Previous">
                        </a>
                    </li>
                    <li class="page-item"
                        th:each="page: ${#numbers.sequence(0, maxPages - 1)}">
                        <a class="page-link"
                           th:href="@{?(page=${page})}"
                           th:text="${page + 1}">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{?(page=${currentPage + 1})}"
                           th:if="${currentPage + 1 < maxPages}"
                           th:text="Next">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>

<footer th:replace="/fragments/fragments :: footer" class="text-center text-white mt-1"
        style="background-color: #f1f1f1;"></footer>

<button th:replace="/fragments/fragments :: button-to-top"></button>

<div th:replace="/fragments/fragments :: links"></div>

</body>
</html>