<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule of events</title>
    <link rel="shortcut icon" type="image/png" href="/images/fav-icon-8.png">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap" rel="stylesheet">
    <!-- fonts-end -->

    <style>
        body {
            opacity: 0;
            overflow-x: hidden;
        }
        
     </style>

</head>
<body>
<header>
    <div id="header-contacts-wrapper">
        <div id="header-contacts">
            <p id="header-p-contacts-phone">
                Paskambink:
                <a class="contacts-phone" href="tel:+37064747155">
                    <img src="/images/phone-1.png" alt="phone-image">+37064747155</a>
            </p>
            <p id="header-p-contacts-mail">
                Parašyk:
                <a class="contacts-mail" href="mailto: roberta.joga@gmail.com">
                    <img src="/images/mail-1.png" alt="phone-image"> roberta.yoga@gmail.com</a>
            </p>

        </div>
    </div>
    <div id="header-nav-wrapper">
        <div class="header-nav-wrapper-inside">
            <div class="logo-wrapper">
                <a th:href="@{http://localhost:8080}">
                    <img id="logo" src="/images/logo.png" alt="logo">
                </a>
            </div>

            <nav>
                <ul id="nav-ul">
                    <li class="nav-li nav-li-n">
                        <a th:href="@{http://localhost:8080}" class="nav-a" title="Home">Home</a>
                    </li>
                    <li class="nav-li nav-li-n">
                        <a th:href="@{http://localhost:8080/schedule}" class="nav-a" title="Schedule">Schedule</a>
                    </li>
                    <li class="nav-li nav-li-dropdown-wrapper" onclick="openCloseMobileDroplist()">
                        <a href="#" class="nav-a open-dropDownA" title="Jogos pratimai"><s>Jogos pratimai ▼</s></a>
                        <ul class="dropdown-nav-ul">
                            <li class="dropdown-nav-li"><a href="#">Klasikinė joga</a></li>
                            <li class="dropdown-nav-li"><a href="#">Joga nidra</a></li>
                            <li class="dropdown-nav-li"><a href="#">Meditacijos</a></li>
                            <li class="dropdown-nav-li"><a href="#">Bla bla bla</a></li>
                        </ul>
                    </li>
                    <li class="nav-li nav-li-n">
                        <a th:href="@{http://localhost:8080/forum}" class="nav-a" title="Forum">Forum</a>
                    </li>
                    <li class="nav-li nav-li-n">
                        <a th:href="@{http://localhost:8080/aboutme}" class="nav-a" title="About me">About me</a>
                    </li>
                    <li class="nav-li nav-li-n">
                        <a th:href="@{http://localhost:8080/contacts}" class="nav-a" title="Contacts">Contacts</a>
                    </li>
                </ul>
            </nav>
            <div id="burger-button" onclick="openCloseMobileMenu()">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <div class="header-other-wrapper">

                <!-- there was cart but i change it to log-in -->
                <div class="log-in-wrapper">
                    <a th:href="@{http://localhost:8080/welcome}" class="user-name">Guest</a>
                    <a class="log-in-out" th:href="@{http://localhost:8080/welcome}">Log in</a>
                </div>

            </div>

        </div>
    </div>
</header>

<main>
    <div class="empty">
    </div>
    <div id="second-div">
        <h1>Some lovely and nice text to clients with vary nice font</h1>
    </div>

    <div id="container">
        <h1>Schedule of the nearest events and lessons</h1>
        <a class="back-button" th:href="@{http://localhost:8080/schedule}">Back to main schedule</a>
        
        <div id="new-event-wrapper">
            <button id="open-event-create-form" type="button">Create new event</button>
            <form id="event-create-form" class="hide-form" action="submit">
<!--                ENUM__!!!!!!!!!!!!!!!!!!!!!-->
                <div class="form-elem">
                    <label for="type-of-event">Type of event:</label>
                    <select id="type-of-event" name="typeOfEvent">
                        <option th:each="eventType : ${T(lt.ivmov.yogaWeb.enums.EventType).values()}" 
                            th:value="${eventType}" th:text="${eventType}"></option>
                    </select>
                </div>
<!--                ENUM__!!!!!!!!!!!!!!!!!!!!!-->
                <div class="form-elem">
                    <label for="type-of-event">Event is:</label>
                    <select id="is-repeateble" name="isRepeatable">
                        <option>single</option>
                        <option>multiple</option>
                    </select>
                </div>
                <div class="form-elem">
                    <label for="title">Title of event</label>
                    <input type="text" id="title" placeholder="some title" value="Title about event">
                </div>
            
<!--               ENUM__!!!!!!!!!!!!!!!!!!!!!-->
                <div class="form-elem">
                    <label for="type-of-event">Theme is:</label>
                    <select id="theme-of-event" name="themeOfEvent">
                        <option th:each="theme : ${T(lt.ivmov.yogaWeb.enums.EventTheme).values()}" 
                            th:value="${theme}" th:text="${theme}"></option>
                    </select>
                </div>
<!--               -ENUM__!!!!!!!!!!!!!!!!!!!!!-->
                <div class="form-elem">
                    <label for="city">City:</label>
                    <input type="text" id="city" value="Klaipeda">
                </div>
                <div class="form-elem">
                    <label for="adress">Adress</label>
                    <input type="text" id="adress" value="Nesamoniu str. 9-32 (2nd floor)">
                </div>
                <div class="form-elem">
                    <label for="adress-url">Adress url:</label>
                    <input type="text" id="adress-url" value="https://g.page/Pravdabeer?share">
                </div>
                <div class="form-elem">
                    <label for="start-date">Start date:</label>
                    <input type="date" id="start-date" value="2022-05-02">
                </div>
                <div class="form-elem">
                    <label for="period-days">Duration, days:</label>
                    <input type="number" id="period-days" value="1">
                </div>
                <div class="form-elem week-days-wrapp">
                    <label for="week-days">Days:</label>
                    <div id="week-days" class=" form-elem weekDays-selector">
                        <input type="checkbox" id="weekday-mon" class="weekday" />
                        <label for="weekday-mon">M</label>
                        <input type="checkbox" id="weekday-tue" class="weekday" />
                        <label for="weekday-tue">T</label>
                        <input type="checkbox" id="weekday-wed" class="weekday" />
                        <label for="weekday-wed">W</label>
                        <input type="checkbox" id="weekday-thu" class="weekday" />
                        <label for="weekday-thu">T</label>
                        <input type="checkbox" id="weekday-fri" class="weekday" />
                        <label for="weekday-fri">F</label>
                        <input type="checkbox" id="weekday-sat" class="weekday" />
                        <label for="weekday-sat">S</label>
                        <input type="checkbox" id="weekday-sun" class="weekday" />
                        <label for="weekday-sun">S</label>
                    </div>
                </div>
                
                <div class="form-elem">
                    <label for="start-time">Start time:</label>
                    <input type="time" id="start-time" value="18:00">
                </div>
                <div class="form-elem">
                    <label for="duration-hours">Duration, h:</label>
                    <input type="number" id="duration-hours" step="0.1" value="1.5">
                </div>
                <div class="form-elem">
                    <label for="img-src">Image:</label>
                    <input type="text" id="img-src" value="https://picsum.photos/370/370?random=1">
                </div>
                <div class="form-elem">
                    <label for="common-price">Price:</label>
                    <input type="number" id="common-price" step="0.01" value="15.99">
                </div>
                <div class="form-elem">
                    <label for="vacancies-limit">Vacancies:</label>
                    <input type="number" id="vacancies-limit" value="20">
                </div>
                <div class="form-elem text-about-wrapp">
                    <label for="text-area-about">About event:</label>
                    <textarea id="text-area-about" rows="10" cols="30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quis expedita a architecto deleniti cum earum officia rem. Vitae, id. Amet fuga, labore fugit perferendis et corporis hic natus culpa.
                    </textarea>
                </div>
                <button id="create-event-button" type="submit">Create</button>

            </form>
        </div>
        <div class="events-wrapper">
            <div class="events-head-line events-line">
                <div class="events-head-cell events-cell">id</div>
                <div class="events-head-cell events-cell">type</div>
                <div class="events-head-cell events-cell">title</div>
                <div class="events-head-cell events-cell">theme</div>
                <div class="events-head-cell events-cell">city</div>
                <div class="events-head-cell events-cell">address</div>
                <div class="events-head-cell events-cell">start date</div>
                <div class="events-head-cell events-cell">end date</div>
                <div class="events-head-cell events-cell">time start</div>
                <div class="events-head-cell events-cell">duration hours</div>
                <div class="events-head-cell events-cell">price</div>
                <div class="events-head-cell events-cell">places</div>
            </div>
            <div class="events-content-wrapper" th:each="event: ${events}">
                <div class="events-content-line events-line">

                    <div class="events-content-cell event-cell-link events-cell">
                        <a th:href="@{/schedule/event-{id}(id=${event.getId()})}"
                           th:text="${event.getId()}"></a>
                    </div>
                    <div class="events-content-cell events-cell" th:text="${event.getTypeOf()}">type</div>
                    <div class="events-content-cell event-cell-link events-cell">
                        <a th:href="@{/schedule/event-{id}(id=${event.getId()})}"
                           th:text="${event.getTitle()}"></a>
                    </div>
                    <div class="events-content-cell event-cell-link events-cell">
                        <a th:href="@{/schedule/{theme}(theme=${event.getTheme()})}"
                           th:text="${event.getTheme()}"></a>
                    </div>
                    <div class="events-content-cell events-cell" th:text="${event.getCity()}">city</div>

                    <div class="events-content-cell event-cell-link events-cell">
                        <a th:href="@{${event.getUrlGoogleMaps()}} " target="_blank"
                           th:text="${event.getAddress()}">address</a>
                    </div>
                    <div class="events-content-cell events-cell" th:text="${event.getStartDate()}">start date</div>
                    <div class="events-content-cell events-cell" th:text="${event.getEndDate()}">end date</div>
                    <div class="events-content-cell events-cell" th:text="${event.getStartTime()}">start time</div>
                    <div class="events-content-cell events-cell" th:text="${event.getDurationHours()}">duration hours</div>
                    <div class="events-content-cell events-cell" th:text="${event.getCommonPrice()}">price</div>
                    <div class="events-content-cell events-cell" th:text="${event.getVacanciesNow()}">places</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="text-center text-white mt-1" style="background-color: #f1f1f1;">
    <div>
        <h4 class="mb-1">Some information</h4>
        <p class="fs-6 w-50 text-center m-auto">
            some text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad eos atque,
            sed numquam, debitis, deserunt aliquam accusamus quaerat aspernatur
            alias tenetur unde perferendis non ipsum temporibus quibusdam illum similique dolorem!
        </p>
    </div>
    <!-- Grid container start-->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a
                    target="_blank"
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="facebook.com/robertayogi"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Google -->
            <a
                    target="_blank"
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="https://www.google.com/maps/search/yoga/@55.6885491,21.128992,13z"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a
                    target="_blank"
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Github -->
            <a
                    target="_blank"
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="https://github.com/IvMov"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container end-->

    <!-- Copyright start-->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a target="_blank" class="text-dark" href="https://www.linkedin.com/in/ivanmovchanets/">Ivan Movchanets</a>
    </div>
    <!-- Copyright end-->
</footer>
<button onclick="topFunction()" id="myBtn" title="Go to top">⇮</button>
<!-- styles -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/schedule-style.css">

<!-- scripts -->

<script src="/scripts/script.js"></script>
<script src="/scripts/schedule-script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>