$mainFont: Helvetica, sans-serif;
$secondFont: Helvetica, sans-serif;
$white: rgb(255, 255, 255);
$gray:#616161;
$grayOpacity:#f8f8f8;
$blueOpacity: #f2ffff;
$black: rgb(3, 3, 3);
$blackOpacity: rgba(3, 3, 3, 0.1);
$mainColor1: rgb(68, 8, 219);
$mainColor2: rgb(209, 43, 195);

$tableFontSizeMin: 12px;
$tableFontSizeMax: 14px;
$mainFontSize: 16px;
$mainXLFontSize: 18px;
$secondFontSize: 20px;
$minWidth: 680px;

    // brakepoints for all types
    $screen-sm-min: 576px;
    $screen-md-min: 768px;
    $screen-lg-min: 992px;
    $screen-xl-min: 1200px;
    $screen-xxl-min: 1400px;

    // mixins for all pages
    @mixin sm {
        @media (min-width: #{$screen-sm-min}) {
            @content;
        }
    }

    @mixin md {
        @media (min-width: #{$screen-md-min}) {
            @content;
        }
    }
    
    @mixin lg {
        @media (min-width: #{$screen-lg-min}) {
            @content;
        }
    }
    
    @mixin xl {
        @media (min-width: #{$screen-xl-min}) {
            @content;
        }
    }

    @mixin xxl {
        @media (min-width: #{$screen-xxl-min}) {
            @content;
        }
    }

    @mixin rwd($screen) {
        @media (min-width: $screen+'px') {
            @content;
        }
    }

// -----start of CSS-------------------start of CSS------------------------start of CSS-----

//main

#container {
    h1 {
        width: 100%;
        margin-bottom: 1em;
    }
   .back-button{
       width: fit-content;
       display: block;
       text-align: left;
       font-size: $mainXLFontSize;
        padding: 10px;
   }

    #new-event-wrapper{
        display: flex;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

        #open-event-create-form {
            width: 80%;
            margin: .5rem auto;
        }
    }

    .events-wrapper{
        overflow:auto;
        .events-line {
            display: flex;
            width: 1200px;
            margin: 0 auto;
            justify-content: space-evenly;
            height: 50px;

            @include xl {
                .events-cell{
                    font-size: $tableFontSizeMax;
                }
            }

            .events-cell {
                height: 100%;
                border:1px solid rgba(122, 122, 122, 1);
                width: 9%;
                padding: 0;
                display: flex;
                align-items: center;
                font-size: $tableFontSizeMin;
                &:nth-child(1){
                    width: 5%;
                }
                &:nth-child(2){
                    width: 5%;
                }
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    &:hover{
                        background-color: rgba(122, 122, 122, 0.1);
                    }
                }
                
            }
            .events-content-cell {
                height: 100%;
                width: 9%;
                padding: 0;
                
            }
        }
            .events-head-line {
                font-weight: 700;
                height: 40px;
            }
        
    }
}

